* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modes{
    font-family: Arial, sans-serif;
  }

  .game {
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    color: white;
    width: 440px;
  }
  
  .board3 {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
  }

  .board4 {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
  }

  .board5 {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
  }
  
  .cell {
    width: 80px;
    height: 80px;
    background: rgba(255,255,255,0.25);
    border-radius: 12px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .cell:hover {
    background: rgba(255,255,255,0.4);
    transform: scale(1.05);
  }
  
  .cell.win {
    background: #4caf50;
  }
  
  button {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    background: #764ba2;
    color: white;
    font-size: 1rem;
  }
  
  button:hover {
    background: darkorchid;
  }
  