* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .game {
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    color: white;
  }

  .board3 {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
    width: 350;
  }

  .board4 {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
    width: 350;
  }

  .board6 {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
    width: 350;
  }
  
  .cell {
    width: 80px;
    height: 80px;
    background: rgba(255,255,255,0.25);
    border-radius: 12px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
  }

  .cell4 {
    width: 60px;
    height: 60px;
    background: rgba(255,255,255,0.25);
    border-radius: 12px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
  }

  .cell6 {
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,0.25);
    border-radius: 12px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
  }

  .cell:hover {
    background: rgba(255,255,255,0.4);
    transform: scale(1.05);
  }
  
  .cell.win {
    background: #4caf50;
  }

  .cell4.win {
    background: #4caf50;
  }

  .cell6.win {
    background: #4caf50;
  }
  
  button {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    background: #764ba2;
    color: white;
    font-size: 1rem;
    margin: auto;
  }
  
  button:hover {
    background: darkorchid;
  }
  
  .modes{
    gap: auto;
  }